<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Purchase Order</title>
</head>

<body>

<div class="header">

    <div class="left-header">

        <div class="logo">
            <img src="file://{{ logo_path }}" alt="Company Logo">
        </div>

        <div class="company-info">

            <h2>{{company_name}}</h2>

            <p>{{company_address}}</p>

            <p>Phone : {{company_phone}}</p>

        </div>

    </div>

    <div class="right-header">

        <h1>Purchase Order</h1>

        <table class="po-info">

            <tr>
                <td>Date</td>
                <td>{{po_date}}</td>
            </tr>

            <tr>
                <td>P.O #</td>
                <td>{{po_no}}</td>
            </tr>

        </table>

    </div>

</div>

<div class="address-section">

    <div class="vendor">

        <div class="section-title">Vendor</div>

        <p><strong>{{supplier}}</strong></p>
        <p>{{supplier}}</p>
        <p>Phone: {{supplier_phone}}</p>

    </div>

    <div class="shipto">

        <div class="section-title">Ship To</div>

        <p><strong>{{company_name}}</strong></p>
        <p>{{business_unit_address}}</p>
        <p>Phone: {{business_unit_phone}}</p>

    </div>

</div>
<table class="shipping-table">
    <tr>
        <th>Shipping Terms</th>
        <th>Shipping Method</th>
        <th>Delivery Date</th>
    </tr>
    <tr>
        <td>{{shipping_terms}}</td>
        <td>{{shipping_method}}</td>
        <td>{{delivery_date}}</td>
    </tr>
</table>

<table class="items-table">

    <thead>
        <tr>
            <th style="width:7%;">Sr#</th>
            <th style="width:26%;">Item Name</th>
            <th style="width:27%;">Size</th>
            <th style="width:8%;">Qty</th>
            <th style="width:15;">Unit Price</th>
            <th style="width:15%;">Amount</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>1</td>
            <td>HP LaserJet Printer</td>
            <td>Description</td>
            <td>4</td>
            <td>45,000.00</td>
            <td>90,000.00</td>
        </tr>

        <!-- Dynamic rows will go here later -->

    </tbody>
    <tr>
    <td colspan="4" rowspan="6" class="comments-cell">
        <div class="comments-title">Comments</div>
    </td>

    <td>SUBTOTAL</td>
    <td class="subtotal-value">{{total_amount}}</td>
</tr>

<tr>
    <td class="summary-label">DISCOUNT </td>
    <td class="summary-value">{{discount_amount}}</td>
</tr>

<tr>
    <td class="summary-label">GST TOTAL</td>
    <td class="summary-value">{{gst_amount}}</td>
</tr>

<tr>
    <td class="summary-label">SHIPPING</td>
    <td class="summary-value">{{shipping_amount}}</td>
</tr>

<tr>
    <td class="summary-label">OTHER</td>
    <td class="summary-value">{{other_amount}}</td>
</tr>

<tr class="grand-total">
    <td class="summary-label">TOTAL</td>
    <td class="summary-value">{{net_amount}}</td>
</tr>

</table>
<div class="signature-section">

    <div class="signature-box">
        <div class="signature-title">Authorized by</div>
        <div class="signature-line"></div>
    </div>

    <div class="signature-box">
        <div class="signature-title">Date</div>
        <div class="signature-line"></div>
    </div>

</div>

</body>
</html>